/*** 

	INDEX OF CONTENTS 
	
	1. MARGIN
	2. PADDING
	3. HEIGHT
	4. WIDTH
	5. POSITIONING
	6. BACKGROUND

***/


/* Margin */

.un-no-m {
	margin: 0;
}

.un-m-10 {
    margin: 10px;
}

.un-m-20 {
    margin: 20px;
}

.un-m-30 {
    margin: 30px;
}

.un-m-40 {
    margin: 40px;
}

.un-m-50 {
    margin: 50px;
}

.un-m-60 {
    margin: 60px;
}

.un-m-70 {
    margin: 70px;
}

.un-m-80 {
    margin: 80px;
}

.un-m-90 {
    margin: 90px;
}

.un-m-100 {
    margin: 100px;
}


.un-no-m-l {
    margin-left: 0;
}

.un-no-m-r {
    margin-right:  0;
}

.un-m-b-10 {
	margin-bottom: 10px;
}

.un-m-b-20 {
	margin-bottom: 20px;
}

.un-m-b-30 {
	margin-bottom: 30px;
}

.un-m-b-40 {
	margin-bottom: 40px;
}

.un-m-b-50 {
	margin-bottom: 50px;
}

.un-m-b-60 {
	margin-bottom: 60px;
}

.un-m-b-70 {
	margin-bottom: 70px;
}

.un-m-b-80 {
	margin-bottom: 80px;
}

.un-m-b-90 {
	margin-bottom: 90px;
}

.un-m-b-100 {
	margin-bottom: 100px;
}

.un-m-t-10 {
	margin-top: 10px;
}

.un-m-t-20 {
	margin-top: 20px;
}

.un-m-t-30 {
	margin-top: 30px;
}

.un-m-t-40 {
	margin-top: 40px;
}

.un-m-t-50 {
	margin-top: 50px;
}

.un-m-t-60 {
	margin-top: 60px;
}

.un-m-t-70 {
	margin-top: 70px;
}

.un-m-t-80 {
	margin-top: 80px;
}

.un-m-t-90 {
	margin-top: 90px;
}

.un-m-t-100 {
	margin-top: 100px;
}

.un-m-l-10 {
	margin-left: 10px;
}

.un-m-l-20 {
	margin-left: 20px;
}

.un-m-l-30 {
	margin-left: 30px;
}

.un-m-l-40 {
	margin-left: 40px;
}

.un-m-l-50 {
	margin-left: 50px;
}

.un-m-l-60 {
	margin-left: 60px;
}

.un-m-l-70 {
	margin-left: 70px;
}

.un-m-l-80 {
	margin-left: 80px;
}

.un-m-l-90 {
	margin-left: 90px;
}

.un-m-l-100 {
	margin-left: 100px;
}

.un-m-r-10 {
	margin-right: 10px;
}

.un-m-r-20 {
	margin-right: 20px;
}

.un-m-r-30 {
	margin-right: 30px;
}

.un-m-r-40 {
	margin-right: 40px;
}

.un-m-r-50 {
	margin-right: 50px;
}

.un-m-r-60 {
	margin-right: 60px;
}

.un-m-r-70 {
	margin-right: 70px;
}

.un-m-r-80 {
	margin-right: 80px;
}

.un-m-r-90 {
	margin-right: 90px;
}

.un-m-r-100 {
	margin-right: 100px;
}


/* Padding */

.un-no-p {
	padding: 0;
}

.un-p-10 {
    padding: 10px;
}

.un-p-20 {
    padding: 20px;
}

.un-p-30 {
    padding: 30px;
}

.un-p-40 {
    padding: 40px;
}

.un-p-50 {
    padding: 50px;
}

.un-p-60 {
    padding: 60px;
}

.un-p-70 {
    padding: 70px;
}

.un-p-80 {
    padding: 80px;
}

.un-p-90 {
    padding: 90px;
}

.un-p-100 {
    padding: 100px;
}

.un-no-p-l {
    padding-left: 0;
}

.un-no-p-r {
    padding-right:  0;
}

.un-p-b-10 {
	padding-bottom: 10px;
}

.un-p-b-20 {
	padding-bottom: 20px;
}

.un-p-b-30 {
	padding-bottom: 30px;
}

.un-p-b-40 {
	padding-bottom: 40px;
}

.un-p-b-50 {
	padding-bottom: 50px;
}

.un-p-b-60 {
	padding-bottom: 60px;
}

.un-p-b-70 {
	padding-bottom: 70px;
}

.un-p-b-80 {
	padding-bottom: 80px;
}

.un-p-b-90 {
	padding-bottom: 90px;
}

.un-p-b-100 {
	padding-bottom: 100px;
}

.un-p-t-10 {
	padding-top: 10px;
}

.un-p-t-20 {
	padding-top: 20px;
}

.un-p-t-30 {
	padding-top: 30px;
}

.un-p-t-40 {
	padding-top: 40px;
}

.un-p-t-50 {
	padding-top: 50px;
}

.un-p-t-60 {
	padding-top: 60px;
}

.un-p-t-70 {
	padding-top: 70px;
}

.un-p-t-80 {
	padding-top: 80px;
}

.un-p-t-90 {
	padding-top: 90px;
}

.un-p-t-100 {
	padding-top: 100px;
}

.un-p-l-10 {
	padding-left: 10px;
}

.un-p-l-20 {
	padding-left: 20px;
}

.un-p-l-30 {
	padding-left: 30px;
}

.un-p-l-40 {
	padding-left: 40px;
}

.un-p-l-50 {
	padding-left: 50px;
}

.un-p-l-60 {
	padding-left: 60px;
}

.un-p-l-70 {
	padding-left: 70px;
}

.un-p-l-80 {
	padding-left: 80px;
}

.un-p-l-90 {
	padding-left: 90px;
}

.un-p-l-100 {
	padding-left: 100px;
}

.un-p-r-10 {
	padding-right: 10px;
}

.un-p-r-20 {
    padding-right: 20px;
}

.un-p-r-30 {
    padding-right: 30px;
}

.un-p-r-40 {
    padding-right: 40px;
}

.un-p-r-50 {
    padding-right: 50px;
}

.un-p-r-60 {
    padding-right: 60px;
}

.un-p-r-70 {
    padding-right: 70px;
}

.un-p-r-80 {
    padding-right: 80px;
}

.un-p-r-90 {
    padding-right: 90px;
}

.un-p-r-100 {
	padding-right: 100px;
}


/* Height */

.un-h-f {
    height: 100%;
}

.un-h-10 {
	height: 10px;
}

.un-h-20 {
	height: 20px;
}

.un-h-30 {
	height: 30px;
}

.un-h-40 {
	height: 40px;
}

.un-h-50 {
	height: 50px;
}

.un-h-60 {
	height: 60px;
}

.un-h-70 {
	height: 70px;
}

.un-h-80 {
	height: 80px;
}

.un-h-90 {
	height: 90px;
}

.un-h-100 {
	height: 100px;
}

/* Width */

.un-w-f {
    width: 100%;
}

.un-w-10 {
	width: 10px;
}

.un-w-20 {
	width: 20px;
}

.un-w-30 {
	width: 30px;
}

.un-w-40 {
	width: 40px;
}

.un-w-50 {
	width: 50px;
}

.un-w-60 {
	width: 60px;
}

.un-w-70 {
	width: 70px;
}

.un-w-80 {
	width: 80px;
}

.un-w-90 {
	width: 90px;
}

.un-w-100 {
	width: 100px;
}


/* Positioning */

.un-pos-r {
	position: relative;
}

.un-pos-a {
	position: absolute;
}

.un-pos-f {
	position: fixed;
}

.un-pos-s {
	position: static;
}


/* Backgrounds */

.un-bg-w {
	background: #fff;
}

.un-bg-b {
	background: #000;
}

.un-bg-f {
    background-attachment: fixed;
}

.un-bg-h {
	background: rgba(255,255,255,1);
background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(245,248,250,1) 40%, rgba(245,248,250,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(255,255,255,1)), color-stop(50%, rgba(255,255,255,1)), color-stop(40%, rgba(245,248,250,1)), color-stop(100%, rgba(245,248,250,1)));
background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(245,248,250,1) 40%, rgba(245,248,250,1) 100%);
background: -o-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(245,248,250,1) 40%, rgba(245,248,250,1) 100%);
background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(245,248,250,1) 40%, rgba(245,248,250,1) 100%);
background: linear-gradient(to bottom, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 40%, rgba(245,248,250,1) 40%, rgba(245,248,250,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f5f8fa', GradientType=0 );
}

.un-bg-g {
	background: #f5f8fa; /* Old browsers */
	background: -moz-linear-gradient(top,  #f5f8fa 0%, #ffffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f5f8fa), color-stop(100%,#ffffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #f5f8fa 0%,#ffffff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #f5f8fa 0%,#ffffff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #f5f8fa 0%,#ffffff 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #f5f8fa 0%,#ffffff 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f8fa', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}

.un-bg-w-10:before,
.un-bg-w-20:before,
.un-bg-w-30:before,
.un-bg-w-40:before,
.un-bg-w-50:before,
.un-bg-w-60:before,
.un-bg-w-70:before,
.un-bg-w-80:before,
.un-bg-w-90:before,
.un-bg-b-10:before,
.un-bg-b-20:before,
.un-bg-b-30:before,
.un-bg-b-40:before,
.un-bg-b-50:before,
.un-bg-b-60:before,
.un-bg-b-70:before,
.un-bg-b-80:before,
.un-bg-b-90:before {
	content: '' !important;
	display: block !important;
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.un-bg-w-10:before {
	background: rgba(255,255,255,0.1);
}

.un-bg-w-20:before {
	background: rgba(255,255,255,0.2);
}

.un-bg-w-30:before {
	background: rgba(255,255,255,0.3);
}

.un-bg-w-40:before {
	background: rgba(255,255,255,0.4);
}

.un-bg-w-50:before {
	background: rgba(255,255,255,0.5);
}

.un-bg-w-60:before {
	background: rgba(255,255,255,0.6);
}

.un-bg-w-70:before {
	background: rgba(255,255,255,0.7);
}

.un-bg-w-80:before {
	background: rgba(255,255,255,0.8);
}

.un-bg-w-90:before {
	background: rgba(255,255,255,0.9);
}

.un-bg-b-10:before {
	background: rgba(0,0,0,0.1);
}

.un-bg-b-20:before {
	background: rgba(0,0,0,0.2);
}

.un-bg-b-30:before {
	background: rgba(0,0,0,0.3);
}

.un-bg-b-40:before {
	background: rgba(0,0,0,0.4);
}

.un-bg-b-50:before {
	background: rgba(0,0,0,0.5);
}

.un-bg-b-60:before {
	background: rgba(0,0,0,0.6);
}

.un-bg-b-70:before {
	background: rgba(0,0,0,0.7);
}

.un-bg-b-80:before {
	background: rgba(0,0,0,0.8);
}

.un-bg-b-90:before {
	background: rgba(0,0,0,0.9);
}